---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en-GB">
  <title>YCDI Blog</title>
  <subtitle>Teaching, reflections and lessons from YCDI sessions, conferences and school outreach.</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self" type="application/atom+xml"/>
  <link href="{{ site.url }}/blog" rel="alternate" type="text/html"/>
  <id>{{ site.url }}/</id>
  <updated>{% if collections.posts.length %}{{ collections.posts[0].date | isoDateTime }}{% else %}{{ "" | isoDateTime }}{% endif %}</updated>
  <author><name>{{ site.fullName }}</name></author>
  {% for post in collections.posts | limit(20) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ site.url }}{{ post.url | cleanUrl }}"/>
    <id>{{ site.url }}{{ post.url | cleanUrl }}</id>
    <published>{{ post.date | isoDateTime }}</published>
    <updated>{{ (post.data.updated or post.date) | isoDateTime }}</updated>
    <author><name>{{ post.data.author or site.fullName }}</name></author>
    <category term="{{ post.data.category or 'General' }}"/>
    <summary>{{ post.data.excerpt }}</summary>
  </entry>
  {% endfor %}
</feed>
